<div class="offcanvas offcanvas-end w-65" tabindex="-1" id="offcanvas-{{data.product_uuid}}"
    aria-labelledby="offcanvasLabel-{{data.product_uuid}}">
    <!-- <div class="offcanvas-header">{{data.product_uuid}}</div> -->
    <div class="offcanvas-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-4">
                        <h4>{{data.title}}</h4>
                    </div>
                    <div class="row mb-4">
                        <iframe class="embed-responsive-item w-100" height="200"
                            src="https://www.youtube.com/embed/R6Y4bI3GzKw" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-center gap-3" style="gap: 15px;;display: flex;justify-content: center;
                            flex-wrap: nowrap;">
                            <button type="button"
                                class="btn btn-outline-primary d-flex align-items-center p-2 rounded-3 shadow-sm hover-effect"
                                style=" display: flex; padding: 0.5rem 1rem;
                            font-size: 0.9rem;
                            flex-wrap: nowrap;">
                                <i class="fa-solid fa-thumbs-up me-2" style="font-size: 1.2rem;"></i>
                                <span class="badge badge-primary bg-primary text-white rounded-pill py-1 px-2" style="font-size: 0.9rem;
                            font-weight: bold;">120</span>
                            </button>
                            <button type="button"
                                class="btn btn-outline-success d-flex align-items-center p-2 rounded-3 shadow-sm hover-effect"
                                style=" display: flex;
                            flex-wrap: nowrap; padding: 0.5rem 1rem;
                            font-size: 0.9rem;">
                                <i class="fa-solid fa-share me-2" style="font-size: 1.2rem;"></i>
                                <span class="badge badge-success bg-success text-white rounded-pill py-1 px-2" style="font-size: 0.9rem;
                            font-weight: bold;">50</span>
                            </button>
                            <button type="button"
                                class="btn btn-outline-info d-flex align-items-center p-2 rounded-3 shadow-sm hover-effect"
                                style=" display: flex;
                            flex-wrap: nowrap;  padding: 0.5rem 1rem;
                            font-size: 0.9rem;">
                                <i class="fa-solid fa-comment me-2" style="font-size: 1.2rem;"></i>
                                <span class="badge badge-info bg-info text-white rounded-pill py-1 px-2" style="font-size: 0.9rem;
                            font-weight: bold;">30</span>
                            </button>
                        </div>
                    </div>

                    <style>
                        .hover-effect:hover {
                            transform: scale(1.1);
                            transition: all 0.3s ease-in-out;
                        }
                    </style>
                </div>
                <div class="col-md-6">
                    <div class="row mb-4">
                        <h5>Product Description</h5>
                        <p>{{ data.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-container">
            <div class="accordion-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11 mx-auto">
                            <div class="accordion" id="accordionRental">
                                <div class="accordion-item mb-3">
                                    <h5 class="accordion-header" id="headingOne">
                                        <button class="accordion-button border-bottom font-weight-bold collapsed"
                                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                            aria-expanded="false" aria-controls="collapseOne">
                                            {{ data.category_1_title }}
                                            <span class="position-absolute end-0 me-3">
                                                <i class="fa fa-plus collapse-close text-xs pt-1"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-minus collapse-open text-xs pt-1"
                                                    aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </h5>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#accordionRental">
                                        <div class="accordion-body text-sm opacity-8">{{ data.category_1_descriptions }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item mb-3">
                                    <h5 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button border-bottom font-weight-bold" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            {{ data.category_2_title }}
                                            <span class="position-absolute end-0 me-3">
                                                <i class="fa fa-plus collapse-close text-xs pt-1"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-minus collapse-open text-xs pt-1"
                                                    aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </h5>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-bs-parent="#accordionRental">
                                        <div class="accordion-body text-sm opacity-8">{{ data.category_2_descriptions }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item mb-3">
                                    <h5 class="accordion-header" id="headingThree">
                                        <button class="accordion-button border-bottom font-weight-bold" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            {{ data.category_3_title }}
                                            <span class="position-absolute end-0 me-3">
                                                <i class="fa fa-plus collapse-close text-xs pt-1"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-minus collapse-open text-xs pt-1"
                                                    aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </h5>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="headingThree" data-bs-parent="#accordionRental">
                                        <div class="accordion-body text-sm opacity-8">{{ data.category_3_descriptions }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item mb-3">
                                    <h5 class="accordion-header" id="headingFour">
                                        <button class="accordion-button border-bottom font-weight-bold" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour">
                                            {{ data.category_4_title }}
                                            <span class="position-absolute end-0 me-3">
                                                <i class="fa fa-plus collapse-close text-xs pt-1"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-minus collapse-open text-xs pt-1"
                                                    aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </h5>
                                    <div id="collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="headingFour" data-bs-parent="#accordionRental">
                                        <div class="accordion-body text-sm opacity-8">{{ data.category_4_descriptions }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item mb-3">
                                    <h5 class="accordion-header" id="headingFifth">
                                        <button class="accordion-button border-bottom font-weight-bold" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFifth"
                                            aria-expanded="false" aria-controls="collapseFifth">
                                            {{ data.category_5_title }}
                                            <span class="position-absolute end-0 me-3">
                                                <i class="fa fa-plus collapse-close text-xs pt-1"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-minus collapse-open text-xs pt-1"
                                                    aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </h5>
                                    <div id="collapseFifth" class="accordion-collapse collapse"
                                        aria-labelledby="headingFifth" data-bs-parent="#accordionRental">
                                        <div class="accordion-body text-sm opacity-8">{{ data.category_5_descriptions }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12 text-center mt-2">
                <a href="/products/" target="_blank" id="know-more-product-btn-{{ data.product_uuid }}" class="btn btn-success" style=" padding: 0.5rem 1rem;
                        font-size: 0.9rem;">Know More about {{data.title}} </a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <hr style="width: 80%; margin: 0 auto; background-color: #007bff; height: 2px;">
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row g-3">
                <div class="col-md-6">
                    <iframe class="embed-responsive-item w-100" height="200"
                        src="https://www.youtube.com/embed/R6Y4bI3GzKw" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-6">
                    <iframe class="embed-responsive-item w-100" height="200"
                        src="https://www.youtube.com/embed/R6Y4bI3GzKw" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-6">
                    <iframe class="embed-responsive-item w-100" height="200"
                        src="https://www.youtube.com/embed/R6Y4bI3GzKw" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-6">
                    <iframe class="embed-responsive-item w-100" height="200"
                        src="https://www.youtube.com/embed/R6Y4bI3GzKw" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-4">
                    <button class="btn btn-primary" style=" padding: 0.5rem 1rem;
                            font-size: 0.9rem;">Load More</button>
                </div>
            </div>
        </div>
    </div>
</div>