<div class="container">
    <!-- First Row -->
    <div class="row mb-4">
        {% for item in data[:4] %}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-2 ps-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="text-sm mb-0 text-capitalize">{{ item.title }}</p>
                            <h4 class="mb-0">{{ item.value }}</h4>
                        </div>
                        <div
                            class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                            <i class="material-symbols-rounded opacity-10">{{ item.icon }}</i>
                        </div>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 ps-3">
                    <p class="mb-0 text-sm"><span class="text-{{ item.change_class }} font-weight-bolder">{{ item.change
                            }} </span>{{ item.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Second Row -->
    <div class="row mb-4">
        {% for item in data[4:] %}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-2 ps-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="text-sm mb-0 text-capitalize">{{ item.title }}</p>
                            <h4 class="mb-0">{{ item.value }}</h4>
                        </div>
                        <div
                            class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                            <i class="material-symbols-rounded opacity-10">{{ item.icon }}</i>
                        </div>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 ps-3">
                    <p class="mb-0 text-sm"><span class="text-{{ item.change_class }} font-weight-bolder">{{ item.change
                            }} </span>{{ item.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>