{% extends '__master.html' %}

{% block content %}
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">{{ data.title }}</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Rank No</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Store</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Platform</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Category</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Monthly
                                        Visits
                                    </th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Monthly
                                        Sales
                                    </th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Social
                                        Media
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for store in data.store_data %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2">
                                            <div class="my-auto d-flex justify-content-start">
                                                <h6 class="mb-0 text-sm">{{store.sort_order}}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">{{ store.shop_name}}</p>
                                        <a href="{{ store.shop_url }}"
                                            class="text-sm font-weight-bold mb-0 text-primary" target="_blank">Goto
                                            Store</a>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold">{{store.platform }}</span>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold">{{store.category }}</span>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold">{{store.monthly_visits}}</span>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold">{{ store.monthly_sales}}</span>
                                    </td>
                                    <td>
                                        <div class="column-item column-item7">
                                            {% if store.social_media.face_book_url %}
                                            <a href="{{ store.social_media.face_book_url }}" target="_blank"
                                                aria-label="facebook"><img
                                                    src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/facebook.png"
                                                    alt="facebook" style="width: 24px;"></a>
                                            {% else %}
                                            <img src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/facebook.png"
                                                alt="facebook" style="width: 24px; filter: grayscale(100%);">
                                            {% endif %}

                                            {% if store.social_media.instagram_url %}
                                            <a href="{{ store.social_media.instagram_url }}" target="_blank"
                                                aria-label="instagram"><img
                                                    src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/instagram.png"
                                                    alt="instagram" style="width: 24px;"></a>
                                            {% else %}
                                            <img src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/instagram.png"
                                                alt="instagram" style="width: 24px;filter: grayscale(100%);">
                                            {% endif %}

                                            {% if store.social_media.twitter_url %}
                                            <a href="{{ store.social_media.twitter_url }}" target="_blank"
                                                aria-label="twitter">
                                                <img src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/twitter.png"
                                                    alt="twitter" style="width: 24px;margin-right: 4px;">
                                            </a>
                                            {% else %}
                                            <img src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/twitter_gray.png"
                                                alt="twitter_gray"
                                                style="width: 24px;margin-right: 4px;filter: grayscale(100%);">
                                            {% endif %}

                                            {% if store.social_media.youtube_url %}
                                            <a href="{{store.social_media.youtube_url}}" target="_blank"
                                                aria-label="youtube"><img
                                                    src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/youtube.png"
                                                    alt="youtube" style="width: 24px;"></a>
                                            {% else %}
                                            <img src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/youtube.png"
                                                alt="youtube" style="width: 24px; filter: grayscale(100%);">

                                            {% endif %}

                                            {% if store.social_media.pinterest_url %}
                                            <a href="{{store.social_media.pinterest_url}}" target="_blank"
                                                aria-label="pinterest">
                                                <img src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/pinterest.png"
                                                    alt="pinterest" style="width: 24px;">
                                            </a>
                                            {% else %}
                                            <img src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/pinterest_gray.png"
                                                alt="pinterest_gray"
                                                style="width: 21px;margin-right: 2px;margin-left: 4px;position: relative;top: -2px;filter: grayscale(100%);">
                                            {% endif %}

                                            {% if store.social_media.snapchat_url %}
                                            <a href="{{store.social_media.snapchat_url}}" target="_blank"
                                                aria-label="snapchat_gray"><img
                                                    src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/snapchat_gray.png"
                                                    alt="snapchat_gray" style="width: 24px;margin-right: 2px;"></a>
                                            {% else %}
                                            <img src="https://static-oss-cdn.oss-us-west-1.aliyuncs.com/sc/static/img/snapchat_gray.png"
                                                alt="snapchat_gray"
                                                style="width: 24px;margin-right: 2px;filter: grayscale(100%);">
                                            {% endif %}

                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}