<li class="nav-item mt-3">
    <h6 class="ps-3  ms-2 text-uppercase text-xs font-weight-bolder text-dark">Filters</h6>
</li>
<hr class="horizontal dark mt-0 mb-2">
<li class="nav-item">
    <a class="nav-link text-dark" id="dates-nav-link" href="#">
        <i class="material-symbols-rounded opacity-5">table_view</i>
        <span class="nav-link-text ms-1">Dates</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <i class="material-symbols-rounded opacity-5">receipt_long</i>
        <span class="nav-link-text ms-1">Media Types</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <i class="material-symbols-rounded opacity-5">view_in_ar</i>
        <span class="nav-link-text ms-1">CTAs</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <i class="material-symbols-rounded opacity-5">format_textdirection_r_to_l</i>
        <span class="nav-link-text ms-1">Platforms Type</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <i class="material-symbols-rounded opacity-5">format_textdirection_r_to_l</i>
        <span class="nav-link-text ms-1">Language</span>
    </a>
</li>

<hr class="horizontal dark mt-0 mb-2">

<li class="nav-item mt-3">
    <h6 class="ps-3  ms-2 text-uppercase text-xs font-weight-bolder text-dark">Filters by engagement</h6>
</li>
<hr class="horizontal dark mt-0 mb-2">
<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <i class="material-symbols-rounded opacity-5">person</i>
        <span class="nav-link-text ms-1">Likes</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <i class="material-symbols-rounded opacity-5">login</i>
        <span class="nav-link-text ms-1">Comments</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <i class="material-symbols-rounded opacity-5">assignment</i>
        <span class="nav-link-text ms-1">Shares</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" id="reactions-nav-link" href="#">
        <i class="material-symbols-rounded opacity-5">assignment</i>
        <span class="nav-link-text ms-1">Reactions</span>
    </a>
</li>

<hr class="horizontal dark mt-0 mb-2">
<li class="nav-item mt-3">
    <h6 class="ps-3  ms-2 text-uppercase text-xs font-weight-bolder text-dark">Advanced Search</h6>
</li>
<hr class="horizontal dark mt-0 mb-2">
<li class="nav-item">
    <a class="nav-link text-dark" id="target-audience-nav-link" href="#">
        <i class="material-symbols-rounded opacity-5">person</i>
        <span class="nav-link-text ms-1">Target Audience</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <i class="material-symbols-rounded opacity-5">login</i>
        <span class="nav-link-text ms-1">Countries</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <i class="material-symbols-rounded opacity-5">assignment</i>
        <span class="nav-link-text ms-1"></span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <i class="material-symbols-rounded opacity-5">assignment</i>
        <span class="nav-link-text ms-1"></span>
    </a>
</li>