<div class="modal fade" id="user-save-collections-create" tabindex="-1" role="dialog"
    aria-labelledby="user-save-collections-createLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="user-save-collections-createLabel">Create Collections
                </h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group input-group-outline my-3">

                                <input type="text" class="form-control" id="user-collection-create"
                                    placeholder="Enter a Collection Name">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn bg-gradient-primary" id="submit-btn-user-collections">Create</button>
            </div>
        </div>
    </div>
</div>