<div class="modal fade" id="dev-tools-loader-modal" tabindex="-1" role="dialog"
    aria-labelledby="dev-tools-loader-modalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center" style="height: 150px;">
                <div class="h5 mb-3">Unauthorized Access</div>
                <p class="text-danger mb-0">You are going to end your current session if the developer tools are not
                    closed.</p>
                <div class="timer mb-3"></div>
            </div>
        </div>
    </div>
</div>