<div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
    <h1>This is Tab 1</h1>
    <p>Content for Tab 1</p>
</div>
<div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
    <h1>This is Tab 2</h1>
    <p>Content for Tab 2</p>
</div>
<div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
    <h1>This is Tab 3</h1>
    <p>Content for Tab 3</p>
</div>
<div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
    <h1>This is Tab 4</h1>
    <p>Content for Tab 4</p>
</div>
<div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
    <h1>This is Tab 5</h1>
    <p>Content for Tab 5</p>
</div>
<div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab6-tab">
    <h1>This is Tab 6</h1>
    <p>Content for Tab 6</p>
</div>
<div class="tab-pane fade" id="tab7" role="tabpanel" aria-labelledby="tab7-tab">
    <h1>This is Tab 7</h1>
    <p>Content for Tab 7</p>
</div>
<div class="tab-pane fade" id="tab8" role="tabpanel" aria-labelledby="tab8-tab">
    <h1>This is Tab 8</h1>
    <p>Content for Tab 8</p>
</div>