<script src="/js/plugins/jquery.js"></script>
<script src="/js/plugins/github_button.js"></script>


<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/js/plugins/chartjs.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="/js/material-dashboard.min.js?v=3.2.0"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/js/plugins/smooth-scrollbar.min.js"></script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>
<script src="/js/material-dashboard.min.js?v=3.2.0"></script>
<script src="/js/bootstrap-notify.js"></script>
<script src="/js/flatpickr.min.js"></script>


<script defer=""
    src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
    integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
    data-cf-beacon="{&quot;rayId&quot;:&quot;8f4dfbfbd8613a35&quot;,&quot;serverTiming&quot;:{&quot;name&quot;:{&quot;cfExtPri&quot;:true,&quot;cfL4&quot;:true,&quot;cfSpeedBrain&quot;:true,&quot;cfCacheStatus&quot;:true}},&quot;version&quot;:&quot;2024.10.5&quot;,&quot;token&quot;:&quot;1b7cbb72744b40c580f8633c6b62637e&quot;}"
    crossorigin="anonymous"></script>


<script src="/js/plugins/sweat_alerts.min.js"></script>
<script src="/js/scripts/plugins/dialog.js"></script>


<script src="/js/scripts/search_filters.js"></script>
<script src="/js/scripts/videos.js"></script>
<script src="/js/scripts/signin.js"></script>
<script src="/js/scripts/save_posts.js"></script>
<script src="/js/scripts/show_products.js"></script>



<script src="/js/plugins/date_ranger.js"></script>
<script src="/js/scripts/app.js"></script>
<script src="/js/scripts/queries.js"></script>


<script src="/js/scripts/sidebar.js"></script>