<!DOCTYPE html>
<html lang="en">
{% include "_head.html" %}
{% if session.authenticated %}

<body class="g-sidenav-show  bg-gray-100">
    {% if session.role == 'admin' %}
        {% include "admin/side_bar.html" %}
    {% else %}
        {% include "_sidenav.html" %}
    {% endif %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        {% include "_topnav.html" %}
        <div class="container-fluid py-2">
            {% block content %} {% endblock %}
            {# {% include "_footer.html" %} #}
        </div>
    </main>
    {% include "_corejs.html" %}
</body>
{% else %}
{% include "sign_in.html" %}
{# Add signup depending on the URL #}
{% endif %}

</html>