{% extends '__master.html' %}

{% block content %}
<style>
  .hide-sidebar {
    display: none !important;
  }
</style>
<div class="container">

  <!-- Offcanvas Trigger Buttons -->
  <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
    aria-controls="offcanvasExample" id="canvasBtn">
    Open Offcanvas
  </a>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      Some text as placeholder. Add your offcanvas content here.
    </div>
  </div>




</div>

{% endblock %}