{% extends '__master.html' %}

{% block content %}
<div class="container" style="max-width: 1200px; margin: auto; padding: 20px;">
    <!-- &nbsp; &nbsp;&nbsp;
    <div class="btn btn-primary btn-rounded text-success" id="test-btn">Test Btn</div> -->

    <!-- <div class="card card-body">
        <div id="calendar"></div>
    </div> -->


    <button type="text" id="datetimes" class="btn btn-primary btn-rounded datetimes" placeholder="Select the Dates Range">click</button>
</div>

{% endblock %}