{% extends '__master.html' %}

{% block content %}
<div class="container" style="max-width: 1200px; margin: auto; padding: 20px;">
    <div class="product-container">
        <div class="image-header"></div>
        <div class="media-src"></div>
        <div class="product-title"></div>
        <div class="product-descriptions"></div>
        <div class="product-likes"></div>
        <div class="product-shares"></div>
        <div class="products-comments"></div>
        <div class="products-save"></div>
        <div class="product-regions"></div>
        <div class="created-date"></div>
        <div class="btn btn-primary btn-rounded product-save" data-key="2e5a2d226aca2cc3d99bc9f6107687ae3edd065d5350ec751f8583a2484884e9">Click</div>
    </div>
</div>

{% endblock %}