<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Video Player</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="video-player">
        <div class="video-container">
            <video id="video" src="your-ad-video.mp4" controls controlsList="nodownload"></video>
        </div>
        <div class="controls">
            <button id="play-pause">Play</button>
            <div class="progress-bar-container">
                <div class="progress-bar">
                    <div class="progress-bar-filled"></div>
                </div>
            </div>
            <div class="volume-control">
                <button id="mute-unmute">Mute</button>
                <input type="range" id="volume" min="0" max="1" step="0.1" value="1">
            </div>
            <button id="fullscreen">Fullscreen</button>
        </div>
    </div>


</body>

</html>




<!-- <!DOCTYPE html>
<html lang="en">
{% include "_head.html" %}

<body class="g-sidenav-show  bg-gray-100">
    {% include "_sidenav.html" %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        {% include "_topnav.html" %}
        <div class="bg-primary">
            {% block content %} {% endblock %}
            {% include "_footer.html" %}
        </div>
    </main>
    {% include "_corejs.html" %}
</body>

</html> -->