{% extends '__master.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .video-player {
            width: 80%;
            max-width: 800px;
            position: relative;
            background: #000;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        }

        .video-container {
            position: relative;
        }

        video {
            width: 100%;
        }

        .progress-bar-container {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background: #555;
            cursor: pointer;
        }

        .progress-bar-filled {
            height: 100%;
            width: 0;
            background: #76c7c0;
        }
    </style>
<div class="container">
    <div class="video-player">
        <div class="video-container">
            <video id="video" src="assets/videos/Soap&Skin.mp4" controls controlsList="nodownload"></video>
            <div class="progress-bar-container">
                <div class="progress-bar-filled"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}